/* ==UserStyle==
@name			Facebook Business
@author			Domenico Blanco
@namespace		GitHub
@version		1.0.2
@preprocessor	default
==/UserStyle== */

@-moz-document domain("business.facebook.com"){
	:root {
		--primary-color: #18191a;
		--secondary-color: #242526;
		--third-color: #0f1011;
		--text: #929598;
		--border-blue: #066CD2;
	}
	
	/* Normal colors */
	
	.hmqwj350, .dzz0lifr, .iuajnvww {
		background-color: var(--primary-color);
	}
	
	.rvv2if8p, .mpql2fhx, .bfd0cbnx, .ne82rp9a, ._oxb._ox6, ._rce[aria-checked='true'], .jnfmswe8, ._5-97._5z7p, ._57d8, .fbNubFlyoutBody, ._599r, .jjseejtz, .tt3fu9o3, ._jmh {
		background-color: var(--secondary-color);
	}
	
	.qnhs3g5y, .r6d9dcr5, .m3jf0t4k, .mm98tyaj, button, ._1vj1, ._4iqg, ._6bqh, .jjseejtz.lcfup58g.d2hqwtrz.qmqpeqxj.e7u6y3za.qwcclf47.nmlomj2f.c9g7wa9t.b3ilqy5t.up9symij.iv31pflw.tazx302l.kzp432ex.pcwd0zr3.ivwf2p9s, .bgad3pbb, .b4pxhmun, .hn33210v, .ny4ihmnv, ._4iyh, input._58al {
		background-color: var(--third-color);
	}
	
	.a53abz89, div[role="list"] > div {
		background: none;
	}
	
	/* Important colros */
	
	._ww-, .dy70pwuf.kzdo7wvt.h0zv973x.osvssn79 > div > div, .s7aci598.ju72f2dx.havmn4fh > div > div, .aeinzg81 > div > div, .a53abz89.rgsc13q7.hmx0cwvu.rwb8dzxj.hv94jbsx.yukb02kx.apktr6ye.gvyo0ga7 > div > div, ._z4i:hover, ._2kn8:hover, ._2wpb._3v8w:hover, ._7fc2, ._8s_l > span, ._8s_l > div {
		background-color: var(--secondary-color)!important;
	}
	
	html, .ReactVirtualized__Grid__innerScrollContainer, ._3lxv,  div.aeinzg81.gj74ymbk._3qn7._61-0._2fyh._3qnf > div.mfclru0v, ._z4i, ._2kn8, ._2wpb._3v8w, ._4ii7._4vie, label._58ak {
		background-color: var(--third-color)!important;
	}
	
	.fbNubButton, .gj74ymbk > div.juldah21.s7wjoji2.rxo4gu2c > .s7wjoji2.hlufh2qk {
		background: var(--third-color);
	}
	
	._7bwf {
		background-color: var(--text)!important;
	}
	
	.ez8dtbzv.g4qalytl.dhod7fyx, .fbNubButton:before, .fbNubButton:after {
		background: none!important;
	}
	
	div.h8391g91.m0cukt09.kpwa50dg.ta68dy8c.fxk3tzhb.hwciadxw.nrydnwki.ftxuidrd {
		background-color: transparent!important;
	}
	
	/* Borders */
	
	.ojz0a1ch, ._66jc, ._4-u2>._4-u3, .k3atyh56, .rr6cmu50, ._6bqh, ul.nngj4jli {
		border-color: var(--third-color);
	}
	
	._z4i, .cxalocjs, label._58ak._3ct8 {
		border-color: var(--third-color)!important;
	}
	
	._2e42, ._2xaj > ._3vo_._3vp0, ._3vo_._3vp0 {
		background-color: var(--secondary-color)!important;
		border-color: var(--text)!important;
	}
	
	/* Text color */
	
	.l61y9joe, .img, span, div, .fbNubButton {
		color: var(--text);
	}
	
	.jkcqx9mf span, .ellipsis, .lo9b52u4.k7otcuaj.hlx7f3sm.havmn4fh > span, .a53abz89.rgsc13q7.rwb8dzxj.hv94jbsx > span, span[role="heading"], ._3-97 > span, ._2eqm._3qn7._61-0._2fyi._3qng > span, span._7fc8 > span > span, input._58al, div._3qn7._61-0._2fyi._3qng > span, input._58al {
		color: var(--text)!important;
	}
	
	div[data-hover="tooltip"] {
		color: white;
	}
	
}